<header>
  <div class="brand">
    <a href="/"><h1>TASK MASTER</h1></a>
  </div>
  <nav>
    <ul class="navbar">
      <li class="navbar-items">
        <a href="/" class="navbar-links active">Home</a>
      </li>
      <li class="navbar-items">
        <a href="/register" class="navbar-links">Signup</a>
      </li>
      <li class="navbar-items">
        <a href="/login" class="navbar-links">Login</a>
      </li>
    </ul>
  </nav>
  <div class="mobile-responsive-btn">
    <img src="/images/menu-icon.png" alt="menu-icon" class="" />
  </div>
</header>
<!-- responsive Header -->
<div class="responsive-header">
  <div class="close-responsive">
    <span class="close-responsive-btn">❌</span>
  </div>
  <div class="brand">
    <a href="/"><h1>TASK MASTER</h1></a>
  </div>
  <nav>
    <ul class="responsive-navbar">
      <li class="responsive-navbar-items">
        <a href="/" class="responsive-navbar-links">Home</a>
      </li>
      <li class="responsive-navbar-items">
        <a href="/register" class="responsive-navbar-links">Signup</a>
      </li>
      <li class="responsive-navbar-items">
        <a href="/login" class="responsive-navbar-links">Login</a>
      </li>
    </ul>
  </nav>
</div>
