<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("partials/head")%>
  </head>
  <body>
    <%-include("partials/header")%>

    <main>
      <section class="sec-1">
        <div class="sec-1-cont">
          <h1>HANDLE YOUR TASK WITH TASKMASTER</h1>
          <p>
            Welcome to TASK MASTER, the best place to manage your task. You can
            set priority and deadlines. We hope you love what you see.
          </p>
          <a href="/login" class="btn loginBtn">LOGIN</a>
          <a href="/register" class="btn">REGISTER</a>
        </div>
      </section>
    </main>
    <%-include("partials/script")%>
  </body>
</html>
